/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#beachHeader {
    background-image: url(../images/sponges-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    color:maroon;
}

.straplines{
    max-width: 35em;
}

.maroon {
    background-color: maroon;
}